<div class="shopping-bag">
    <div class="shopping-bag-content">
      <div class="heading item">
        <section class="head-text">
          <h3>shopping bag</h3>
          <p>you have <%= shoppingBag.length %> item(s) in your bag</p>
        </section>
        <button id="close-cart">&#10005;</button>
      </div>
  
      <% if (shoppingBag.length > 0) { %>
        <% shoppingBag.forEach(item => { %>
          <div class="product item" >
            <img src="<%= item.image %>" alt="<%= item.name %>" onclick="window.location.href='/<%= encodeURIComponent(item.name.replace(/\s+/g, '-')) %>/<%= item._id %>'">
            <div class="product-info">
              <div class="product-info-text">
                <h4><%= item.name %></h4>
                <p> Max Bill Chronoscope 40mm Stainless Steel and Leather </p>
              </div>
              <div class="count">
                <div class="counter">
                  <form action="/cart/decrease/<%= item._id %>" method="POST">
                    <button class="minus">-</button>
                  </form>
                  <div class="digit"><%= item.quantity %></div>
                  <form action="/cart/increase/<%= item._id %>" method="POST">
                    <button class="plus">+</button>
                  </form>
                </div>
                <p>£<%= item.price * item.quantity %></p>
              </div>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <p>Your cart is empty.</p>
      <% } %>
  
      <div class="subtotal item item1">
        <h3>subtotal</h3>
        <p>£<%= subtotal %></p>
      </div>
  
      <div class="shipping item">
        <div class="shipping-info">
          <h3>shipping</h3>
          <p>- -</p>
        </div>
        <p>Express options, international shipping and duties available during checkout.</p>
      </div>
  
      <div class="taxes item item1">
        <div class="taxes-info">
          <h3>taxes</h3>
          <p>- -</p>
        </div>
        <p>Taxes will be calculated during checkout.</p>
      </div>
  
      <div class="total item item1">
        <h3>total</h3>
        <p>£<%= subtotal %></p>
      </div>
  
      <button class="checkout">continue to checkout</button>
    </div>
  </div>
  